<div class="tab-groups" name="<%= title_id %>" style="<%= hide_show(title_id) %>">
  <h2>
      <span><%= title %></span>
      (<span>
          <span class="<%= coverage_css_class(source_files.covered_percent) %>">
              <%= source_files.covered_percent.round(2) %>%
          </span>
      </span>
      covered at
      <span>
          <span class="<%= strength_css_class(source_files.covered_strength) %>">
              <%= source_files.covered_strength.round(2) %>
          </span>
      </span> hits/line)
  </h2>
  <div>
      <b><%= source_files.length %></b> files in total.
      <b><%= source_files.lines_of_code %></b> relevant lines.
      <span class="green"><b><%= source_files.covered_lines %></b> lines covered</span> and
      <span class="red"><b><%= source_files.missed_lines %></b> lines missed </span>
  </div>

  <div class="mdc-card">
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
      <i class="material-icons mdc-text-field__icon">search</i>
      <input type="search" class="mdc-text-field__input search-box" onkeyup="searchTable(this.id)" onsearch="searchTable(this.id)" id="<%= title_id %>">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label class="mdc-floating-label">Search</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="false">
      You can search based on File column.
    </div>

    <table class="table table-hoover" id="<%= title_id %>-table">
        <thead>
          <tr>
            <th>File</th>
            <th>% Covered</th>
            <th>Lines</th>
            <th>Relevant Lines</th>
            <th>Lines Covered</th>
            <th>Lines Missed</th>
            <th>Avg Hits/Line</th>
          </tr>
        </thead>
        <tbody>
          <% source_files.each do |source_file| %>
            <tr class="clickable" name="<%= shortened_filename(source_file) %>" onclick="openModal(this.attributes.name.value)">
              <td><%= shortened_filename(source_file) %></td>
              <td class="<%= coverage_css_class(source_file.covered_percent) %>">
                <%= source_file.covered_percent.round(2).to_s %>%
              </td>
              <td class="center"><%= source_file.lines.count %></td>
              <td class="center"><%= source_file.covered_lines.count + source_file.missed_lines.count %></td>
              <td class="center"><%= source_file.covered_lines.count %></td>
              <td class="center"><%= source_file.missed_lines.count %></td>
              <td class="center"><%= source_file.covered_strength %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
