<div class="mdc-dialog" role="alertdialog" aria-modal="true"
     aria-labelledby="<%= shortened_filename(source_file) %>"
     id="<%= shortened_filename(source_file) %>-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 class="mdc-dialog__title">
        <%= shortened_filename source_file %>
        (
        <span class="<%= coverage_css_class(source_file.covered_percent) %>">
            <%= source_file.covered_percent.round(2).to_s %> %
        </span>
        )
      </h2>

      <div class="mdc-dialog__content">
        <pre>
          <ol>
            <% source_file.lines.each do |line| %>
              <li class="<%= line.status %>" data-hits="<%= line.coverage ? line.coverage : '' %>"
                  data-linenumber="<%= line.number %>">
                <% if line.covered? %><span class="hits"><%= line.coverage %></span><% end %>
                <% if line.skipped? %><span class="hits">skipped</span><% end %>
                <code class="ruby"><%= CGI.escapeHTML(line.src.chomp) %></code>
              </li>
            <% end %>
          </ol>
        </pre>
      </div>

      <footer class="mdc-dialog__actions">
        <div class="text">
          <b><%= source_file.lines_of_code %></b> relevant lines.
          <span class="green"><b><%= source_file.covered_lines.count %></b> lines covered</span> and
          <span class="red"><b><%= source_file.missed_lines.count %></b> lines missed.</span>
        </div>
        <div class="buttons">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
            <span class="mdc-button__label">close</span>
          </button>
        </div>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
